<div class="menu">
    <div class="wrapper">
        <a class="logo" href="/"><img src="/imgs/bank-logo.svg"></a>
        <div class="menu-right"><span>By</span><img src="/imgs/logo.svg"></div>
    </div>
</div>
<div class="page">
    <div class="wrapper">
        <div class="page-content">
            <div class="account-menu col-md-3">
                <div class="menu-card on"><a href="/account"><h5>Account</h5></a></div>
                <div class="menu-card"><a href="/transaction"><h5>New Transaction</h5></a></div>
                <div class="menu-card"><a href="#services"><h5>Services</h5></a></div>
                <div class="menu-card"><a id="settingslnk" href="/settings"><h5>Settings</h5></a></div>
                <div class="menu-card"><a href="/logout"><h5>Logout</h5></a></div>
            </div>
        </div>
        <div class="account-content col-md-9">
            <h1 style="text-align: left">Account</h1>
            <div class="container">
                <h2>Details</h2>
                <div class="row">
                    <div class="col-md-3 label2">Name</div>
                    <div class="col-md-9">
                        <script>
                            document.write(window.user.firstName + ' ' + window.user.lastName);
                        </script>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3 label2">Address</div>
                    <div class="col-md-9">123 Main St Anytown, USA</div>
                </div>
                <div class="row">
                    <div class="col-md-3 label2">Contact number</div>
                    <div class="col-md-9">+1-202-555-0114</div>
                </div>
                <div class="row">
                    <div class="col-md-3 label2">Email Address</div>
                    <div class="col-md-9"><script>document.write(window.user.email)</script></div>
                </div>
                <h2>Accounts</h2>
                <div class="row">
                    <div class="col-md-3 label2">Number</div>
                    <div class="col-md-3 label2">Type</div>
                    <div class="col-md-4 label2">Description</div>
                    <div class="col-md-2 label2">Balance</div>
                </div>
                <div class="row">
                    <div class="col-md-3"> <a href="#7-1362789.876.331">7-1362789.876.331</a></div>
                    <div class="col-md-3">Basic Account</div>
                    <div class="col-md-4">Day-to-day finances</div>
                    <div class="col-md-2">$ 5.437,92</div>
                </div>
                <div class="row">
                    <div class="col-md-3"><a href="#9-8364818.421.331">9-8364818.421.331</a></div>
                    <div class="col-md-3">Premium Account</div>
                    <div class="col-md-4">Savings</div>
                    <div class="col-md-2">$ 77.500,00</div>
                </div>
                <h2>Cards</h2>
                <div class="row">
                    <div class="col-md-3 label2">Number</div>
                    <div class="col-md-7 label2">Type</div>
                    <div class="col-md-2 label2">Limit</div>
                </div>
                <div class="row">
                    <div class="col-md-3"> <a href="#">347364527048369</a></div>
                    <div class="col-md-7">American Express</div>
                    <div class="col-md-2">$ 5.000,00</div>
                </div>
                <div class="row">
                    <div class="col-md-3"><a href="#4532010703561728">4532010703561728</a></div>
                    <div class="col-md-7">Visa</div>
                    <div class="col-md-2">$ 2.500,00</div>
                </div>
            </div>
        </div>
        <div class="cboth"></div>
    </div>
</div>
</div>
<div class="footer">
    <div class="row">
        <jscrambler>Virtual Bank © All rights reserved</jscrambler>
    </div>
</div>