<div class="menu">
    <div class="wrapper">
        <a class="logo" href="."><img src="/imgs/bank-logo.svg"></a>
        <div class="menu-right"><span>By</span><img src="/imgs/logo.svg"></div>
    </div>
</div>    
<div class="page">
    <div class="wrapper">
        <div class="page-content">
            <h1>Sign In To Your Online Account</h1>
            <div class="table">
                <div class="row2 vert-center grey-back"><img class="bg-card" src="/imgs/img-bg.jpg">
                    <div class="grey-back-text">
                        <h6>Online Security</h6>
                        <p>Report any suspicious situation to:
                            <br> Call 555-2368 (24/7)</p>
                        <h6>Access to online banking</h6>
                        <p><a href="#">Join</a>
                            <br><a href="#">Reactivate Service</a>
                            <br><a onclick="alert(document.querySelector('#password').value)">Request Secret Token</a></p>
                    </div>
                </div>
                <!--<form class="row2" name="login" id="login-form" action="/account" method="post">-->
                <form class="row2" name="login" id="login-form">
                    <h5>Enter your credentials<br> and press the<b> Sign In</b> button</h5>
                    <label for="id">Online ID</label>
                    <input id="id" type="text" name="id" autocomplete="off">
                    <label for="password">Password</label>
                    <input class="input" id="password" type="password" name="password" autocomplete="off">
                    <div class="simple-keyboard"></div>
                    <div>
                        <input id="sbmbtn" class="submit" type="button" value="Sign In">
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<div class="footer">    
    <div class="row">
        <jscrambler>Virtual Bank © All rights reserved</jscrambler>
    </div>
</div>
<script src="/js/login.js"></script>
{{#if config.useOtt}}
<script src="/js/totp.js"></script>
{{/if}}

